@font-face {
  font-family: Hatton;
  src: url("../../font/PP Hatton Medium 500.otf");
  font-family: Gothic;
  src: url("../../font/MS Gothic.ttf");
  font-family: Brush;
  src: url("../../font/brush script mt kursiv.ttf");
}
body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #010E3C;
  color: #fff;
  margin: 0 0 0 0;
  width: 100%;
}
body .bg img {
  position: absolute;
  width: 100%;
  height: 456vh;
  z-index: -1;
}
body nav {
  background-color: rgba(1, 14, 60, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
body nav p {
  padding-left: 25px;
  font-family: Brush;
  z-index: 1;
}
body nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-left: 126vh;
  z-index: 1;
}
body nav ul li {
  text-decoration: none;
  font-family: Cascadia Mono;
  padding-left: 5vh;
}
body .cover {
  padding-left: 42vh;
  padding-top: 10vh;
  position: relative;
  width: 100vh;
  height: 100vh;
}
body .cover p {
  position: absolute;
  z-index: 2;
  font-family: Hatton;
  font-size: 8.7em;
}
body .cover img {
  z-index: 1;
  padding-left: 112vh;
  position: absolute;
  top: 32vh;
  width: 15vh;
}
body .about_me {
  width: 100%;
  height: 100vh;
  display: flex;
}
body .about_me .mypic {
  position: relative;
  display: flex;
  padding-left: 25vh;
}
body .about_me .mypic img {
  height: 450px;
  border: 2px solid;
}
body .about_me .text1 {
  padding-left: 40px;
}
body .about_me .text1 p {
  font-family: Cascadia Mono;
  padding-top: 8%;
  font-size: 55pt;
  margin-bottom: 0;
  text-transform: uppercase;
}
body .about_me .text1 .text1-1 {
  margin-bottom: 20pt;
  font-size: 1.3em;
}
body .about_me .text1 .line {
  background-color: white;
  height: 3px;
  width: 85vh;
  margin-bottom: 10pt;
}
body .about_me .text1 button {
  cursor: pointer;
  font-family: Cascadia Mono;
  height: 7vh;
  width: 21vh;
  border-radius: 20pt;
  font-size: 14pt;
}
body .my_skill span {
  font-family: Cascadia Mono;
}

.skill-bar {
  background-color: white;
  display: flex;
  border: 3px solid;
  border-radius: 3px;
  border-color: white;
  width: 40vh;
  height: 5vh;
}
.skill-bar div {
  width: 10%;
  border: 1px solid;
  border-color: white;
  background-color: #545D7C;
  border-radius: 2px;
}

.ps .bar-1, .ps .bar-2, .ps .bar-3, .ps .bar-4, .ps .bar-5 {
  background-color: #010E3C;
}

.xd div div {
  background-color: #010E3C;
}

.my .bar-1, .my .bar-2, .my .bar-3, .my .bar-4, .my .bar-5, .my .bar-6, .my .bar-7 {
  background-color: #010E3C;
}

.lr .bar-1, .lr .bar-2, .lr .bar-3, .lr .bar-4, .lr .bar-5, .lr .bar-6, .lr .bar-7, .lr .bar-8, .ai .bar-1, .ai .bar-2, .ai .bar-3, .ai .bar-4, .ai .bar-5, .ai .bar-6, .ai .bar-7, .ai .bar-8 {
  background-color: #010E3C;
}

.pr .bar-1, .pr .bar-2, .pr .bar-3, .pr .bar-4 {
  background-color: #010E3C;
}

.ps p, .pr p, .lr p, .my p, .ai p, .xd p {
  font-family: Arial, Helvetica, sans-serif;
}

.my_skill {
  width: 100%;
  height: 100vh;
}
.my_skill span {
  font-size: 30pt;
  margin: 20vh;
  border: 1pt solid;
  border-color: white;
  padding: 7;
  border-radius: 20px;
}
.my_skill ul {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
}
.my_skill ul li {
  list-style: none;
}
.my_skill .skill-li {
  font-size: 18pt;
  font-family: arial;
}

.mywork {
  width: 100%;
  height: 100vh;
  display: flex;
}
.mywork .text2 {
  padding-left: 50vh;
  text-align: right;
}
.mywork .text2 p {
  font-family: Cascadia Mono;
  padding-top: 8%;
  font-size: 55pt;
  margin-bottom: 0;
  text-transform: uppercase;
}
.mywork .text2 .line2 {
  background-color: white;
  height: 0.5vh;
  width: 50vh;
  margin-bottom: 10pt;
}
.mywork .text2 .text2-1 {
  margin-bottom: 20pt;
  font-size: 1em;
}
.mywork .text2 button {
  cursor: pointer;
  font-family: Cascadia Mono;
  height: 7vh;
  width: 21vh;
  border-radius: 20pt;
  font-size: 14pt;
}
.mywork .pic {
  padding-left: 20vh;
}
.mywork .pic .workk img {
  width: 50vh;
}

.contact {
  width: 100%;
  height: 40vh;
}
.contact .cont1 {
  padding-left: 20vh;
  margin: 0 0 0 0;
}
.contact .cont1 p {
  font-family: Cascadia Mono;
  font-size: 55pt;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.contact .cont1 .line3 {
  background-color: white;
  height: 0.5vh;
  width: 88vh;
  margin-bottom: 10pt;
}
.contact .cont1 .text3-1 {
  margin-bottom: 20pt;
  font-size: 2em;
  font-style: normal;
}
.contact .cont2 {
  padding-left: 10vh;
}
.contact .cont2 ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.contact .cont2 ul li {
  padding-left: 3vh;
}
.contact .cont2 ul li img {
  height: 8vh;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding-bottom: 1.4vh;
  color: #7983A0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #010E3C;
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
  width: 25%;
  border-radius: 2vh;
  justify-content: center;
  font-family: Cascadia Mono;
}
.modal-content img {
  height: 8vh;
  padding-right: 5vh;
  padding-bottom: 2vh;
}
.modal-content div {
  padding-top: 5vh;
  display: flex;
}

.close {
  float: right;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.kamunanya {
  cursor: pointer;
}

/*# sourceMappingURL=port.css.map */
