@font-face {
  font-family: Hatton;
  src: url("../../font/PP Hatton Medium 500.otf");
  font-family: Gothic;
  src: url("../../font/MS Gothic.ttf");
  font-family: Brush;
  src: url("../../font/brush script mt kursiv.ttf");
}
body {
  background-color: #010E3C;
  color: #fff;
  margin: 0 0 0 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.ex img {
  height: 5vh;
  margin-top: 2vh;
  margin-left: 2vh;
}

.o1 {
  width: 100%;
  height: 100%;
}

.potrait {
  margin: 0 0 0 0;
  display: flex;
}

.aaaaa {
  margin: 0 0 0 0;
}
.aaaaa h1 {
  font-family: Cascadia Mono;
  writing-mode: vertical-rl;
  font-size: 38pt;
  transform: rotate(-180deg);
  margin-top: 6vh;
  margin-left: 0;
  margin-right: 2vh;
}

.as {
  margin-left: 5vh;
  margin-top: 2vh;
}
.as img {
  width: 54vh;
}

.bs {
  margin-left: 9vh;
  margin-top: 2vh;
  margin-right: 10vh;
}
.bs img {
  width: 52.5vh;
  padding-bottom: 5vh;
}

.cs {
  margin-top: 2vh;
  margin-right: 6vh;
}
.cs img {
  width: 54vh;
}

.o2 {
  width: 100%;
  height: 100%;
}

.food {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row-reverse;
}
.food h1 {
  font-family: Cascadia Mono;
  writing-mode: vertical-rl;
  font-size: 40pt;
  transform: rotate(-180deg);
  margin-left: 0;
  margin-bottom: 3vh;
  margin-right: 4vh;
}

.es {
  margin-left: 2vh;
  margin-top: 2vh;
}
.es img {
  width: 35.7vh;
  padding-bottom: 5vh;
}

.fs {
  margin-left: 3.5vh;
  margin-top: 2vh;
}
.fs img {
  width: 35.7vh;
  padding-bottom: 5vh;
}

.gs {
  margin-left: 4vh;
  margin-top: 2vh;
  margin-right: 1vh;
}
.gs img {
  width: 76vh;
  padding-bottom: 2vh;
}

.hs {
  margin-left: 2vh;
  margin-top: 2vh;
}
.hs img {
  width: 70.8vh;
  padding-bottom: 2vh;
}

.o3 {
  width: 100%;
  height: 100%;
}

.D3 {
  flex-direction: row-reverse;
  display: flex;
}

.is {
  margin-left: 2vh;
  margin-top: 2vh;
  margin-right: 4vh;
}
.is img {
  width: 95vh;
  padding-bottom: 5vh;
}

.js {
  margin-top: 2vh;
  margin-right: 3vh;
}
.js img {
  width: 83vh;
  padding-top: 5vh;
}

h1 {
  font-family: Cascadia Mono;
  flex-direction: row-reverse;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 3em;
  margin-bottom: 0vh;
  text-align: center;
  margin-top: 0vh;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding-bottom: 1.4vh;
  color: #7983A0;
}

.js {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 31px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 82.5%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.js:hover .overlay {
  opacity: 1;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hs {
  position: relative;
  width: 50%;
}

.imagee {
  display: block;
  height: auto;
}

.overlayy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95.2%;
  width: 99%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.hs:hover .overlayy {
  opacity: 1;
}

.textt {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gs {
  position: relative;
  width: 50%;
}

.imageee {
  display: block;
  height: auto;
}

.overlayyy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95.2%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.gs:hover .overlayyy {
  opacity: 1;
}

.texttt {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.iss {
  position: relative;
  width: 50%;
}

.imagge {
  display: block;
  height: auto;
}

.overlaay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 88.2%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.iss:hover .overlaay {
  opacity: 1;
}

.ttext {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.isss {
  position: relative;
  width: 50%;
}

.imaggge {
  display: block;
  height: auto;
}

.overlaaay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 92%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.isss:hover .overlaaay {
  opacity: 1;
}

.tttext {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.as {
  position: relative;
  width: 50%;
}

.imaage {
  display: block;
  height: auto;
}

.overllay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.as:hover .overllay {
  opacity: 1;
}

.teext {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cs {
  position: relative;
  width: 50%;
}

.imaaage {
  display: block;
  height: auto;
}

.overlllay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.cs:hover .overlllay {
  opacity: 1;
}

.teeext {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bss {
  position: relative;
  width: 50%;
}

.image0 {
  display: block;
  height: auto;
}

.overlay0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90.5%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.bss:hover .overlay0 {
  opacity: 1;
}

.text0 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bsss {
  position: relative;
  width: 50%;
}

.image00 {
  display: block;
  height: auto;
}

.overlay00 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.bsss:hover .overlay00 {
  opacity: 1;
}

.text00 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fss {
  position: relative;
  width: 50%;
}

.image22 {
  display: block;
  height: auto;
}

.overlay22 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.fss:hover .overlay22 {
  opacity: 1;
}

.text22 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fsss {
  position: relative;
  width: 50%;
}

.image2 {
  display: block;
  height: auto;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.fsss:hover .overlay2 {
  opacity: 1;
}

.text2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*# sourceMappingURL=work.css.map */
